<tr id="person_<%= person.id %>">  
  <td>
    <label class="fields-show-view"><%= person.name %></label>
  </td> 
  <td>
    <label class="fields-show-view"><%= number_to_currency person.installments.map(&:value).inject(:+) %></label>
  </td>
  <td>
    <label class="fields-show-view"><%= number_to_currency person.installments_for_pay.map(&:value).inject(:+) %></label>
  </td>
  <td>
    <label class="fields-show-view">
      <% installments = Installment.where(:person_id => person.id).order(:p_day) %>
      <%= l(installments.last.p_day,format: '%b/%y') if installments.last.present? %>
    </label>
  </td>  
      
  <td>
    <%= link_to edit_person_path(person), remote: true do %>
      <button type="button" class="btn btn-primary">Editar</button>
    <% end %>

    <%= link_to person, remote: true, method: :delete, data: { confirm: "Tem certeza?" } do %>
      <button type="button" class="btn btn-danger">Remover</button>
    <% end %>
  </td>
</tr>