<tr id="credit_card_<%= credit_card.id %>">  
  <td>
    <%=image_tag credit_card.financial == 1 ? "credicard.png" : "nubank.jpg",size: "35" %>
    <label class="fields-show-view"><%= credit_card.display_number %></label>   
  </td> 
  <td>
  <div class="row">    
    

    <div class="nav navbar-text progress" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 350px; height: 20%;">
    <% percent = get_percent_used(credit_card)%>
    <div class="progress-bar <%= define_color_by_percent(percent) %>" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="padding-left: 5px; color: black;width: <%= number_to_percentage(percent, precision: 2) %>;">
    <%= number_to_percentage(percent, precision: 2) %>
    </div>      

    </div>
    </div>
  </td>
      
  <td>
    <%= link_to edit_credit_card_path(credit_card), remote: true do %>
      <button type="button" class="btn btn-primary">Editar</button>
    <% end %>

    <%= link_to credit_card, remote: true, method: :delete, data: { confirm: "Tem certeza?" } do %>
      <button type="button" class="btn btn-danger">Remover</button>
    <% end %>
  </td>
</tr>