<h4><%= l(@installments.first.p_day, format: '%B %Y')%></h4>

<div class="row">
  <div class="col-md-3">
  <%= link_to details_bills_installments_path(p_day: @installments.first.p_day),remote: true, :class =>"btn btn-default" do %>
 <i class="glyphicon glyphicon-list-alt"></i>
<% end %>
    <% prev_disabled = "disabled" if !Installment.has_prev_for_person?(@installments.first.p_day,@installments.first.person.id) %>
    <%= link_to details_bill_per_person_installments_path(p_day: @installments.first.p_day-1.month, person_id: @installments.first.person.id),remote:true, :class =>"btn btn-primary #{prev_disabled}"  do %>  
      <i class="glyphicon glyphicon-circle-arrow-left"></i>
    <% end %>
    <% next_disabled = "disabled" if !Installment.has_next_for_person?(@installments.first.p_day,@installments.first.person.id) %>
    <%= link_to details_bill_per_person_installments_path(p_day: @installments.first.p_day+1.month, person_id: @installments.first.person.id),remote:true, :class =>"btn btn-primary #{next_disabled}"  do %>  
      <i class="glyphicon glyphicon-circle-arrow-right"></i>
    <% end %>
  </div>  
</div>


<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Estabelecimento</th>
      <th>Parcela</th> 
      <th>Valor</th>
    </tr>
  </thead>

  <tbody id="installments">
    <%= render "detail_bills_person" %>
  </tbody>    
</table>

<%= render 'total_value' %>
<%= render 'composer/dialog' %>