<% @installments.each do |installment| %>
  <tr id="installment_<%= installment.id %>">
    <td>
      <label class="fields-show-view"><%=  l(installment.purchase.purchased_in, format: '%d/%b/%y')  %></label>
    </td>
    <td>
      <label class="fields-show-view"><%= installment.purchase.place_name %></label>
    </td>
    <td>
      <label class="fields-show-view"><%= "#{installment.number}/#{installment.purchase.quantity_installments || 1}" %></label>
    </td> 
    <td>
      <% value = installment.attributes.key?('total_value') ? installment.total_value : installment.value %>
      <label class="fields-show-view"><%= number_to_currency(value) %></label>
    </td> 
  </tr>
<% end %>