<% @installments.each do |installment| %>
  <tr id="installment_<%= installment.id %>">
    <td>
      <% value = installment.attributes.key?('total_value') ? installment.total_value : installment.value %>
      <label class="fields-show-view"><%= number_to_currency(value) %></label>
    </td> 
    <td>
      <label class="fields-show-view"><%= installment.person.name %></label>
    </td>
    <td>
      <label class="fields-show-view"><%= installment.purchase.place_name if installment.purchase.present? %></label>
    </td>
    <td>
      <%= link_to "Visualizar", details_bill_per_person_installments_path(p_day: params[:p_day], person_id: installment.person.id),remote:true, :class =>"btn btn-default" %>
    </td>
  </tr>
<% end %>