<tr id="installment_<%= installment.id %>">
  <td>
    <label class="fields-show-view"><%= installment.id %></label>
  </td>
  <td>
    <label class="fields-show-view"><%= installment.p_day.strftime("%d/%m %Y") %></label>
  </td>
  <td>
    <label class="fields-show-view"><%= number_to_currency(installment.total_value) %></label>
  </td> 

  <td>
    <% if installment.person.present? %>
      <label class="fields-show-view"><%= installment.person.name %></label>
    <% end %>
  </td> 
  <td>

  </td> 
  <td>
    <%= link_to installments_path(p_day: installment.p_day) do %>
      <button type="button" class="btn btn-primary">Visualizar</button>
    <% end %>
  </td>
</tr>