<%= link_to "Ver Anteriores", installments_path, class: "btn btn-success fields-show-button" if current_page?(bills_installments_path) && @installments.first.present? && !@installments.first.person.present? %>
<%= link_to "Ver Atuais", bills_installments_path, class: "btn btn-success fields-show-button" if current_page?(installments_path) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody id="installments">
    <%= render @installments, fixed_installments: @fixed_installments %>
  </tbody>    
</table>

<%= render 'total_value' %>
<%= render 'composer/dialog' %>