<% @purchase.installments.map(&:person_id).uniq.each do |p| %>

<h4><%= Person.find(p).name %></h4>

<table class="table table-bordered table-striped table-sm">		
	<th class="th-field">Parcela</th>
	<th class="th-field">Pagamento</th>	
	<th class="th-field">Valor</th>	
	<th class="th-field">Totalizador</th>
	<% @purchase.installments.where('person_id = ?',p).each do |pp|%>
		<tr>
			<td><%= pp.number %></td>
			<td><%= l(pp.p_day, format: '%b/%y') %></td>					
			<td><%= number_to_currency(pp.value) %></td>
			<td><%= number_to_currency(pp.number*pp.value) %></td>
		</tr>
	<% end %>	
</table>
	


<% end %>






