<tr id="purchase_<%= purchase.id %>">
  <td>
    <label class="fields-show-view"><%= purchase.id %></label>
  </td>
  <td>
    <label class="fields-show-view"><%= purchase.purchased_in.strftime("%d/%m %Y") %></label>
  </td>
  <td>
    <label class="fields-show-view"><%= purchase.place_name %></label>
  </td> 
  <td>
    <label class="fields-show-view"><%= number_to_currency(purchase.value) %></label>
  </td> 
  <td>
    <%= link_to "Visualizar", details_purchase_path(purchase),remote: true, :class =>"btn btn-default" %>

    <%= link_to edit_purchase_path(purchase), remote: true do %>
      <button type="button" class="btn btn-primary">Editar</button>
    <% end %>

    <%= link_to purchase, remote: true, method: :delete, data: { confirm: "Tem certeza?" } do %>
      <button type="button" class="btn btn-danger">Remover</button>
    <% end %>
  </td>
</tr>