$('#dialog h3').html("<b><%=@purchase.place_name%></b> <h5><i class='glyphicon glyphicon-calendar'></i><%=l(@purchase.purchased_in, format: '%d/%m/%Y')%> <i class='glyphicon glyphicon-floppy-saved'></i><%=l(@purchase.created_at, format: '%d/%m/%Y')%></h5><h5><%= @purchase.payment %></h5><h5><i class='glyphicon glyphicon-ok-circle verde'></i> <%= @purchase.quantity_installments_ok %>x de <%= number_to_currency(@purchase.value/(@purchase.quantity_installments || 1)) %> <i class='glyphicon glyphicon-hand-right'></i> <%= number_to_currency(@purchase.quantity_installments_ok * (@purchase.value/(@purchase.quantity_installments || 1))) %></h5> <% if @purchase.quantity_installments_remaining>0%><h5><i class='glyphicon glyphicon-arrow-right'></i> <%= @purchase.quantity_installments_remaining %>x de <%= number_to_currency(@purchase.value/@purchase.quantity_installments) %> <i class='glyphicon glyphicon-hand-right'></i> <%= number_to_currency(@purchase.quantity_installments_remaining * (@purchase.value/@purchase.quantity_installments)) %></h5><%end%>");

$('.modal-body').html('<%= j render("details") %>');

$('#dialog').modal("show");

$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus()
})
