<%= stylesheet_link_tag 'custom' %>
<%= javascript_include_tag 'purchases' %>
<%= link_to "Adicionar", new_purchase_path, remote: true, class: "btn btn-success fields-show-button" %>
<%= link_to "Simular Compra", purchases_simulate_path, remote: true, class: "btn btn-success fields-show-button" %>
  <div class="col-md-2">
    <%a=CreditCard.all.map{|cc| [cc.display_number, cc.id]}%>
    <%a<<["Todos",0]%>
    <%= select_tag "type_search", options_for_select(a, selected: params[:credit_card_id]), class: "form-control fields-show-view", id: "select-cc" %>
  </div>

<div class="col-sm-2 navbar-form pull-right">
      <%= render "composer/search", path: purchases_path%>
</div>
<br><br><br>

<% if params[:credit_card_id].to_i != 0 %> 
  <h4><%= CreditCard.find(params[:credit_card_id]).display_number %></h4>
<%end%>

<%if @value.size >0 %>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped table-sm"> 
        <thead>
          <th colspan="3">Compras - Total</th>
          <th colspan="3">Valores - Total</th>
        </thead>
        <thead>
          <th>Pagas</th>
          <th>Restantes</th>
          <th>Total</th>
          <th>Tot Pagas</th>
          <th>Restantes</th>
          <th>Total</th>
        </thead>
        <td><%=@ok%></td>
        <td><%=@remaining%></td>
        <td><%=@all%></td>
        <td><%=number_to_currency(@value.map(&:value).inject(0, :+)-@value_remaining)%></td>
        <td><%=number_to_currency(@value_remaining)%></td>
        <td><%=number_to_currency(@value.map(&:value).inject(0, :+))%></td>
      </table>
    </div>  
  </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>      
      <% if params[:credit_card_id].to_i == 0%><th><label class="section">Cartão</label></th><%end%>
      <th><label class="section"><%= sort_link @search, :id, "Código" %></label></th>
      <th><label class="section"><%= sort_link @search, :purchased_in, "Data" %></label></th>
      <th><label class="section"><%= sort_link @search, :place_name, "Estabelecimento" %></label></th>      
      <th><label class="section"><%= sort_link @search, :value, "Valor" %></label></th>      
      <th>Ação</th>      
    </tr>
  </thead>

  <tbody id="people">
    <%= render @purchases %>
  </tbody>    
</table>

<%= will_paginate @purchases, renderer: BootstrapPagination::Rails %>

<%= render 'composer/dialog' %>