 <%= link_to "Adicionar", new_purchase_path, remote: true, class: "btn btn-success fields-show-button" %>

 <div class="col-sm-2 navbar-form pull-right">
      <%= render "composer/search", path: purchases_path%>
  </div>

<table class="table table-striped">
  <thead>
    <tr>      
      <th><label class="section"><%= sort_link @search, :id, "Código" %></label></th>
      <th><label class="section"><%= sort_link @search, :purchased_in, "Data" %></label></th>
      <th><label class="section"><%= sort_link @search, :place_name, "Estabelecimento" %></label></th>      
      <th><label class="section"><%= sort_link @search, :value, "Valor" %></label></th>      
      <th>Ação</th>      
    </tr>
  </thead>

  <tbody id="people">
    <%= render @purchases %>
  </tbody>    
</table>

<%= render 'composer/dialog' %>