<%= form_tag(path, :method => "get", id: "search-form", class: "navbar-form") do %>
  
  <div class="input-group">
      <div class="checkbox">
         <label>
          <%= check_box_tag "ok",true, check_if_true(params[:ok]) %>
          Pagas
         </label>
   
          <%= check_box_tag "remaining",true, check_if_true(params[:remaining]) %>
          Restante
         </label>
      </div>

      <span>
        <%= button_tag(type: 'submit', class: "btn btn-primary",value: 'buscar') do %>
        <i class="glyphicon glyphicon-filter"></i>
      </span>
      <% end %>    
  </div>


  <div class="input-group">
      <%= select_tag "type_search", options_for_select([      
        ['Estabelecimento', 'place_name'],['Pessoa', 'name']],
      selected: params[:type_search]),class: "form-control fields-show-view" %>
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], placeholder: "Busca", class: "form-control fields-show-view",autocomplete: "off" %>          
        <%= button_tag(type: 'submit', class: "btn btn-primary",value: 'buscar') do %>
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <% end %>    
  </div>

    <% if(params[:search].present? or params[:ok].present? or params[:remaining].present?) %>
      <%= link_to path do %>
        <span class="glyphicon glyphicon-remove"></span>      
    <% end %>

  <% end %>
<% end %>