<center><h2>Relátorio de compras</h2></center>



<table class="table table-striped">
	<thead>
		<tr>            
			<th><label class="section">Comprador</label></th>
			<th><label class="section">Data compra</label></th>
			<th><label class="section">Primeira parc</label></th>
			<th><label class="section">Última parc</label></th>
			<th><label class="section">Estabelecimento</label></th>      
			<th><label class="section">Valor</label></th>   
			<th><label class="section">Parcs</label></th>   
		</tr>
	</thead> 
	<% @purchases.each do |purchase| %>
		<% purchase.people.each do |person| %>
			<tr id="purchase_<%= purchase.id %>">  
			  <td>
			    <label class="fields-show-view"><%= person.name %></label>
			  </td>		
			  <td>
			    <label class="fields-show-view"><%= purchase.purchased_in.strftime("%d/%m/%Y") %></label>
			  </td>
			  <td>
			    <label class="fields-show-view"><%= l(purchase.installments.first.p_day,format: '%b/%y') %></label>
			  </td>		  		  
			  <td>
			    <label class="fields-show-view"><%= l(purchase.installments.last.p_day,format: '%b/%y') %></label>
			  </td>		  
			  
			  <td>
			    <label class="fields-show-view"><%= purchase.place_name %></label>
			  </td> 
			  <td>
			    <label class="fields-show-view"><%= number_to_currency(purchase.value_of_person(person)) %></label>
			  </td> 
			  <td>
			    <label class="fields-show-view"><%= purchase.quantity_installments %></label>
			  </td> 
			</tr>
		<% end %>
	<% end %>
</table>