<%= render 'header' %>
<% Person.order(:name).each do |p| %>
	<div class="row">
	<div class="col-md-6"><center><h2><%= p.name %></h2></center></div>
	<div class="col-md-6"><%= render 'total',:total => p.purchases_total %></div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>            
				<th><label class="section">Comprador</label></th>
				<th><label class="section">Data compra</label></th>
				<th><label class="section">Primeira parc</label></th>
				<th><label class="section">Última parc</label></th>
				<th><label class="section">Estabelecimento</label></th>      
				<th><label class="section">Valor</label></th>   
				<th><label class="section">Parcs</label></th>   
			</tr>
		</thead> 
		<% Purchase.purchases(p.id).each do |purchase| %>
			<% purchase.people.each do |person| %>		
				<% if person.id == p.id %>
					<tr id="purchase_<%= purchase.id %>">  
					  <td>
					    <label class="fields-show-view"><%= person.name %></label>
					  </td>		
					  <td>
					    <label class="fields-show-view"><%= purchase.purchased_in.strftime("%d/%m/%Y") %></label>
					  </td>
					  <td>
					    <label class="fields-show-view"><%= l(purchase.installments.first.p_day,format: '%b/%y') %></label>
					  </td>		  		  
					  <td>
					    <label class="fields-show-view"><%= l(purchase.installments.last.p_day,format: '%b/%y') %></label>
					  </td>		  
					  
					  <td>
					    <label class="fields-show-view"><%= purchase.place_name %></label>
					  </td> 
					  <td>
					    <label class="fields-show-view"><%= number_to_currency(purchase.value_of_person(person)) %></label>
					  </td> 
					  <td>
					    <label class="fields-show-view"><%= purchase.quantity_installments %></label>
					  </td> 
					</tr>
				<% end %>		
			<% end %>
		<% end %>
	</table>
	<p class="page-breaker"></p>	
<%end %>		