<!DOCTYPE html>
<html>
<head>
  <title>SGCreditcard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user.present? %> 
    <div class="container">
      <%= render 'composer/menu' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  
</body>
</html>
